@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Work+Sans&display=swap');
h1 {font-family: 'Raleway', sans-serif;}
body {font-family: 'Work Sans', sans-serif;}
img {width: 70%; height: auto;}
.game_start {text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.light-bg {background-color: #b8d1e7;}
.h-100vh {height: 100vh}

.user_length__input {border-radius: 25px; background: transparent; font-size: 22px; color: #00297d; border: 3px solid; margin-bottom: 0.5rem; padding-left: 10px;}

.start_button{border-radius: 25px; background: transparent; font-size: 20px; color: #00297d; font-weight: 600; border: 3px solid;}
.start_button:hover {border-color: transparent; color: #fff; background: #00297d;}
.transition{transition: 500ms;}

.circle {width: 300px; height: 300px; border-radius: 50%; padding: 20px; background-color: #f0f8ff;}

.choose_option__title{text-transform: uppercase; font-size: 64px;}

.not_chosen_option {border: 2px solid #000;}
.chosen_option {border: 6px solid #f00;}


.score {display: flex; flex-direction: row; }


.divider {
    height: 100vh;
    background-color: #000;
    width: 4px;
    padding: 0;
    position: absolute;
    top: 0;
    left: 49.7%;
}
.game_img {max-width: 250px; width: 100%;}



.user_length__input:invalid{border-color: #f00}

.shakling {animation: shakle 1.8s;}

.shakling-enemy {animation: shakle-enemy 1.8s;}

.disappearing {animation: disappear 1s ease-out;}
.appearing {animation: appear 1s ease-out; transition: 500ms;}

.invisible {opacity: 0;}
.visible {opacity: 1;}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shakle {
    0% {
        transform: rotate(0);
    }
    16.6% {
        transform: rotate(-20deg);
    }
    33.3% {
        transform: rotate(20deg);
    }
    49.9% {
        transform: rotate(-20deg);
    }

    66.5% {
        transform: rotate(20deg);
    }
    83.1% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes shakle-enemy {
    0% {
        transform: rotate(0);
    }
    16.6% {
        transform: rotate(20deg);
    }
    33.3% {
        transform: rotate(-20deg);
    }
    49.9% {
        transform: rotate(20deg);
    }

    66.5% {
        transform: rotate(-20deg);
    }
    83.1% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(0);
    }
}




@media (min-width:  768px) {
    .centring {margin-top: 30px;}
}

@media (min-width:  576px) and (max-width: 767.98px) {
    .centring {margin-top: 50px;}
}

@media (max-width:  575.98px) {
    .centring {margin-top: 200px;}
}



@media (max-width: 575.98px) {
    .choose_option__title {margin-bottom: 35px; font-size: 36px; text-align: center;} 
    .circle {width: 150px; height: 150px;}
    .mb-15px {margin-bottom: 15px;}
    .divider {display: none;}
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .mb-15px {margin-bottom: 15px;}
    .circle {width: 175px; height: 175px;}
    .choose_option__title {margin-bottom: 35px; font-size: 42px; text-align: center;} 

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .circle {width: 220px; height: 220px;}
}

